@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Nunito:wght@400;700&display=swap");
body {
  font-family: "nunito", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  background-color: #fff;
  position: sticky;
  top: 0;
  padding: 10px 2%;
  z-index: 9999;
  font-size: 16px;
  padding-right: 10%;
}
header li, header a {
  font-size: 16px;
  text-decoration: none;
  color: #000;
  margin-right: 10px;
}
header a img {
  width: 180px;
  cursor: pointer;
}
header a:hover {
  color: #176B87;
}
header .profil {
  margin-left: auto;
  background-color: #e9e9e9;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  text-align: center;
  line-height: 3.3em;
  border: 2px solid #053B50;
  margin-right: 5px;
  cursor: pointer;
}
header .arrow-p #arrow-down {
  width: 32px;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  padding: 12px;
  text-align: center;
}

/* Show the dropdown when it's open */
.show {
  display: block;
}

.container {
  margin: 0;
  background-image: url(/asset/img/AnyConv.com__alex-shutin-kKvQJ6rK6S4-unsplash.webp);
  width: 100%;
  height: 293px;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}
.container h1 {
  font-size: 34px;
}
.container h2 {
  font-size: 18px;
}
.container h1, .container h2 {
  font-weight: bold;
  color: #fff;
  margin-left: 30px;
  padding: 3px;
}

.aktivitas {
  padding: 15px 10px;
  margin: 40px auto;
  width: 80%;
  height: 300px;
  border-radius: 10px;
  background-color: #F0F0F0;
  font-size: 16px;
  overflow: auto;
}
.aktivitas img, .aktivitas h5 {
  display: inline;
}
.aktivitas h5 {
  font-weight: bold;
}

.aktivitasc {
  width: 80%;
  background-color: #d7d5d5;
  margin: 50px auto;
  height: 100px;
  padding: 15px;
}

.sertifikat {
  padding: 15px 10px;
  margin: 40px auto;
  width: 80%;
  height: 300px;
  border-radius: 10px;
  background-color: #F0F0F0;
  margin-bottom: 10px;
  font-size: 16px;
  overflow: auto;
}
.sertifikat img, .sertifikat h5 {
  display: inline;
}
.sertifikat h5 {
  font-weight: bold;
}

.sertifikatc {
  width: 80%;
  background-color: #d7d5d5;
  margin: 50px auto;
  height: 100px;
  padding: 15px;
}

.sertifikatc a,
.sertifikatc button {
  text-decoration: none;
}

.sertifikatc button {
  border-radius: 6px;
  border: none;
  cursor: pointer;
  padding: 12px 30px;
  transition: all 0.3s ease 0s;
  background-color: #176B87;
  color: #fff;
}

.sertifikatc button:hover {
  background-color: #03222e;
}

.aktivitasc a,
.aktivitasc p,
.sertifikatc a,
.sertifikatc p {
  display: inline-flex;
}

.aktivitasc a,
.sertifikatc a {
  float: right;
  color: #000000
}

.k {
  height: 100px;
}

footer {
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .footer hr {
  width: 80%;
}
footer .footer .Copyright {
  height: 70px;
  line-height: 70px;
  font-size: 14px;
}

@media only screen and (max-width: 768px) {

  header a img {
    width: 120px;
  }

  header .profil {
    width: 2em;
    height: 2em;
  }

  header .arrow-p #arrow-down {
    width: 20px;
    cursor: pointer;
  }

  .container h1, .container h2 {
    margin-left: 15px;
  }

  .container h1 {
    font-size: 2rem;
  }

  .container h2 {
    font-size: 1rem;
  }

  .aktivitas {
    font-size: 0.86rem;
  }

  .aktivitasc {
    margin: 25px auto;
  }

  .sertifikat {
    font-size: 0.86rem;
  }

  .sertifikatc {
    margin: 25px auto;
  }

  .sertifikatc button {
    padding: 10px 20px;
  }
}