@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Nunito:wght@400;700&display=swap');
$warna: (
    'satu': #053B50,
    'dua' : #03222e,
    'tiga': #176B87,
    'hitam': #000,
    'putih': #fff,
    'abu' : #a9a9a9,
    'putih2': #fafafa,
);
@mixin button {
    border-radius: 6px;
    border: none;
    cursor: pointer;
    padding: 12px 30px;
}

@mixin tengah($content: center, $direction: row) {
    display : flex;
    align-items: center;
    justify-content: $content;
    flex-direction: $direction;
}

@mixin navbar {
    background-color: map-get($warna, 'putih');
    position:sticky;
    top: 0;
    padding: 10px 2%;
    box-shadow: 3px 0 4px map-get($warna, 'hitam' );
    z-index: 9999;
    li, a {
        color: map-get($warna, 'hitam');
        font-size: 16px;
        text-decoration: none;
    }
}

body {
    font-family: "nunito", sans-serif;
};

header {
    @include tengah(flex-start);
    background-color: map-get($warna, 'putih');
    position: sticky;
    top: 0;
    padding: 10px 2%;
    box-shadow: 3px 0 4px map-get($warna, 'hitam' );
    z-index: 9999;
    font-size: 16px;
    padding-right: 10%;
    li, a{
        font-size: 16px;
        text-decoration: none;
        color: map-get($warna, 'hitam');
        margin-right: 10px;
    }
    a {
        transition: all 0.3s ease 0s;
        img {
            width: 184px;
            height: 47px;
            cursor: pointer;
        }
    }
    a:hover {
        color: map-get($warna, 'tiga');
    }
    .profil {
        margin-left: auto;
        background-color: lighten(#a9a9a9, 25%);
        border-radius: 50%;
        width: 2.5em;
        height: 2.5em;
        text-align: center;
        line-height: 3.3em;
        border: 2px solid map-get($warna, 'satu');
        margin-right: 5px;
    }
    .arrow-p{
        #arrow-down {
            width: 32px;
            height: 32px;
        }
    }
}

