@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Nunito:wght@400;700&display=swap');

$warna: (
    'satu': #053B50,
    'dua' : #03222e,
    'tiga': #176B87,
    'hitam': #000,
    'putih': #fff,
    'abu' : #a9a9a9,
    'putih2': #fafafa,
);

@mixin button {
    border-radius: 6px;
    border: none;
    cursor: pointer;
    padding: 12px 30px;
}

@mixin tengah($content: center, $direction: row) {
    display : flex;
    align-items: center;
    justify-content: $content;
    flex-direction: $direction;
}
body {
    font-family: "nunito", sans-serif;
};

header {
    @include tengah(flex-end, row);
    background-color: map-get($warna, 'putih');
    position: sticky;
    top: 0;
    padding: 10px 2%;
    box-shadow: 3px 0 4px map-get($warna, 'hitam' );
    z-index: 9999;
    font-size: 16px;
    li, a, button {
        font-size: 16px;
        text-decoration: none;
    }
    li, a {
        color: map-get($warna, 'hitam');
    }
    .logonav {
        width: 64px;
        height: 49px;
        cursor: pointer;
    }
    nav {
        margin-right: auto;
        ul {
            li {
                padding: 0 20px;
                display: inline-block;
                a {
                    transition: all 0.3s ease 0s;
                }
                a:hover {
                    color: map-get($warna, 'tiga');
                }
            }
        }
    }
    button {
        @include button();
        margin-right: 20px;
        transition: all 0.3s ease 0s;
    }
    .sign button {
        background-color: map-get($warna, 'satu');
        color: map-get($warna, 'putih');
        border: 3px solid map-get($warna, 'satu');
    }
    .log button {
        color: map-get($warna, 'satu');
        background-color: map-get($warna, 'putih');
        border: 3px solid map-get($warna, 'satu');
    }
    .log button:hover {
        background-color: map-get($warna, 'satu');
        color: map-get($warna, 'putih');
    }
};


#content button:hover,
header .sign button:hover {
    background-color: map-get($warna, 'dua');
    color: map-get($warna, 'putih');
}

#content {
    @include tengah();
    flex-direction: row;
    height: 80vh;
    span {
        h1 {
            font-size: 32px;
            font-weight: bold;
        }
        h3 {
            font-size: 16px;
        }
        .content img {
            display: inline-block;
            width: 382px;
            height: 326px;
        }
        button {
        @include button();
        transition: all 0.3s ease 0s;
        margin-right: 20px;
        margin-top: 20px;
        background-color: map-get($warna, 'satu');
        color: map-get($warna, 'putih');
        border: 3px solid map-get($warna, 'satu');
        }
    }
}

.kelebihan {
    background-color: map-get($warna, 'abu');
    text-align: center;
    margin: 50px 0;
    padding: 30px;
    h2 {
        font-size: 32px;
        margin-top: 40px;
        margin-bottom: 15px;
    }
    p {
        font-size: 16px;
    }
    .kel {
        margin: 35px 0 40px 0;
        text-align: center;
        .keu {
            background-color: map-get($warna, 'putih');
            height: 209px;
            .kurikurum, .blajarflex, .sertifikat {
                text-align: left;
                height: 33.1%;
                line-height: 66.5px;
                justify-content: space-between;
                padding: 0 10px 0 10px;
                border-bottom: 1px solid map-get($warna, 'hitam');
                font-size: 16px;
            }
        }
        span {
            display: inline-block;
            flex-direction: row;
        }
    }
}

#learningpath {
    @include tengah(center, column);
    margin: 50px auto;
    position: relative;
    h2 {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .learningpathstyle {
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .path-item {
            width: 200px;
            height: 100px;
            margin: 20px;
            transition: all 1s ease;
            margin-bottom: 1px;
            img {
                width: 100%;
                height: 100px;
            }
            p {
                background-color: map-get($warna, 'satu');
                color: map-get($warna, 'putih');
                height: 100vh;
                padding: 5px;
            }
        }
        .path-item:hover {
            transform: translate(0, -120px);
        }
    }
}

#arrow-learning {
    display: flex;
    justify-content: flex-end;
    margin-top:20px;
    margin-right: 160px;
    margin-bottom: 30px;
    img {
        width: 32px;
        cursor: pointer;
        align-items:end;
        margin: 0 10px;
    }
}

#tentangkami {
    background-color: map-get($warna, 'putih2');
    box-shadow: 0 0 4px map-get($warna, 'hitam');
    width: 60%;
    display: flex;
    margin: 50px auto 20px;
    ul {
        li {
            list-style: none;
            .profil {
                height: 348px;
                width: 284px;
                display: inline-block;
                float: inline-start;
                padding: 0 20px 0 0;
            }
            .kt {
                .tprofil, .pmedsos {
                    margin: 0;
                }
                .tprofil {
                    height: 70%;
                }
                .pmedsos {
                    display: flex;
                    height: 30%;
                    align-items: center;
                }
                padding: 20px 10px;
                .lorempp {
                    font-size: 20px;
                }
                .p {
                    font-size: 16px;
                }
                .logomedsos {
                    height: 24px;
                    width: 24px;
                    margin-right: 5px;
                }
            }
        }
    }
}

#arrow-profil {
    display: flex;
    justify-content: flex-end;
    margin-top:10px;
    margin-right: 245px;
    margin-bottom: 50px;
    cursor: pointer;
    img {
        width: 32px;
        align-items:end;
        margin: 0 10px;
    }
}

footer {
    justify-content: center;
    align-items: center;
    text-align: center;
    .footer {
        hr {
            width: 80%;
        }
        .Copyright {
            height: 70px;
            line-height: 70px;
            font-size: 14px;
        }
    }
}