@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Nunito:wght@400;700&display=swap");
body {
  font-family: "nunito", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  background-color: #fff;
  position: sticky;
  top: 0;
  padding: 10px 2%;
  z-index: 9999;
  font-size: 16px;
  padding-right: 10%;
}
header li, header a, a {
  font-size: 16px;
  text-decoration: none;
  color: #000;
  margin-right: 10px;
}
header a img {
  width: 180px;
  cursor: pointer;
}
header a:hover, a:hover {
  color: #176B87;
}
header .profil {
  margin-left: auto;
  background-color: #e9e9e9;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  text-align: center;
  line-height: 3.3em;
  border: 2px solid #053B50;
  margin-right: 5px;
  cursor: pointer;
}
header .arrow-p #arrow-down {
  width: 32px;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  padding: 12px;
  text-align: center;
}

/* Show the dropdown when it's open */
.show {
  display: block;
}

.ui-w-80 {
    width: 80px !important;
    height: auto;
  }

  .btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background: rgba(0, 0, 0, 0);
    color: #4e5155;
  }

  label.btn {
    margin-bottom: 0;
  }

  .btn-outline-primary {
    border-color: #26b4ff;
    background: transparent;
    color: #26b4ff;
  }

  .btn {
    cursor: pointer;
  }

  .text-light {
    color: #babbbc !important;
  }

  .btn-facebook {
    border-color: rgba(0, 0, 0, 0);
    background: #3b5998;
    color: #fff;
  }

  .btn-instagram {
    border-color: rgba(0, 0, 0, 0);
    background: #000;
    color: #fff;
  }

  .card {
    background-clip: padding-box;
    box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
  }

  .row-bordered {
    overflow: hidden;
  }

  .account-settings-fileinput {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
  .account-settings-links .list-group-item.active {
    font-weight: bold !important;
  }
  html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
  }
  .account-settings-multiselect ~ .select2-container {
    width: 100% !important;
  }
  .light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
  }
  .light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
  }
  .material-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
  }
  .material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
  }
  .dark-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
  }
  .dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
  }
  .light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
  }
  .light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
  }

.k {
  height: 250px;
}

footer {
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .footer hr {
  width: 80%;
}
footer .footer .Copyright {
  height: 70px;
  line-height: 70px;
  font-size: 14px;
}

@media only screen and (max-width: 768px) {

  header a img {
    width: 120px;
  }

  header .profil {
    width: 2em;
    height: 2em;
  }

  header .arrow-p #arrow-down {
    width: 20px;
    cursor: pointer;
  }

}
